#App{
  background: black;
  background-image: url('https://www.cityhealthdashboard.com/city-explorer-8638080452ce7a83d3a70c4433e00c8b.png');
  min-width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 60% auto;
  
}