#weather{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    color: white;
    min-width: 30vw;
    height: 40vh;
    left: 10vh;
   
    background-color: #00000085;
    font-size: 17px;
    margin-top: 100px;

}

#weather span {
    flex: 1;
}

#weatherTitle{
    font-size: 27px;
    /* text-transform: capitalize; */
}
#weatherTitle span{
    text-transform: capitalize;
}