#events{
    flex: 1;
    height: 50vh;
    overflow: auto;
    background-color: #00000085;
    margin-top: 100px;
    max-width: 35vw;
}

#eventsTitle{
    font-size: 4em;
    background-color: rgba(0, 0, 0, 0.349);
}

.eventTitle{
    font-size: 20px;
}

.eventInfo{
    font-size: 13px;
}

.eventDate{
    font-size: 10px;
}