#events{
    flex: 1;
    height: 60vh;
    overflow: auto;
    background-color: black;
    max-width: 35vw;
}

#eventsTitle{
    font-size: 3.3em;
    background-color: rgb(29, 92, 198);
}

.event{
    border-bottom: solid 1px white;
    padding: 30px 50px 30px 50px;
    text-align: left;
}

.eventTitle{
    font-size: 18px;
    display: flex;
    align-items: center;
}

.eventTitle a{
    margin-left: 20px;
}

.eventInfo{
    font-size: 15px;
} 



.event img{
    height: 70px;
}