#navbar {
    padding-top: 3vh;
    width: 100vw;
    height: 20vh;
    
    background-color: #161e3a;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: solid 2px grey;
    font-size: 30px;
    color: #949494;
    text-align: center;
}
