#searchForm{
    border: solid 2px rgb(199, 198, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}



#searchForm Button {
    height: 60px;
    width: 150px;
    font-size: 20px;
    border: solid 2px mediumseagreen;
}

#searchInput{
    width: 50%;
    border: solid 1px grey;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: inset 2px 3px 3px rgba(0,0,0,0.07);
}

